* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot") format("embedded-opentype"),
    url("../fonts/HelveticaNeue.woff2") format("woff2"),
    url("../fonts/HelveticaNeue.woff") format("woff"),
    url("../fonts/HelveticaNeue.ttf") format("truetype"),
    url("../fonts/HelveticaNeue.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.main {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}
.logos {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto;
}
p {
  width: 463px;
  height: 240px;
  font-family: HelveticaNeue;
  font-size: 16px;
  text-align: left;
}
.dots1 {
  display: flex;
}
.dot23 {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  background-color: #000fff;
  border-radius: 50%;
  opacity: 30%;
}
.first {
  margin-left: 655px;
  width: 10px;
  height: 10px;
  background-color: #000fff;
  border-radius: 50%;
}
.dots {
  display: flex;
  margin-left: 600px;
  color: #000fff;
  width: 10px;
  height: 10px;
}
/* .jeka {
  display: flex;
  justify-content: space-between;
} */
